.venv
.vscode
.env
__pycache__/
.python-version
uv.lock
kokoro_outputs/
.idea
.github
.roo
.DS_Store
backup_content/
condensation_cache/
translation_cache/
yt_audio/
/website_summarizer.egg-info/
fish-speech-src/
CHANGELOG.md